#header {{
  display: none !important;
}}

#switch {{
  background-color: {background} !important;
}}

#switch > button {{
  fill: {foreground} !important;
  background-color: {background} !important;
}}

#tabs-container {{
  background-color: {background} !important;
}}

#tabs-container .button-tabbar > svg {{
  fill: {foreground} !important;
  background-color: transparent !important;
}}

.tab.active {{
  background-color: {color1} !important;
}}
